In [2]:
import pandas as pd
import datetime as dt

### Review of Python's DateTime Module

In [6]:
someday = dt.date(2016,4,12)

In [7]:
someday.year

2016

In [8]:
someday.month

4

In [9]:
someday.day

12

In [19]:
sometime = dt.datetime(2010,1,10,13,56)

In [20]:
sometime.hour

13

In [21]:
sometime.second

0

### The pandas Timestamp Object

In [25]:
pd.Timestamp("2015-03-31")
pd.Timestamp("1/1/2015")
pd.Timestamp("2021-03-08 6:13:15 PM")

Timestamp('2021-03-08 18:13:15')

### The pandas DateTimeIndex Object

In [27]:
dates = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [30]:
dates = [dt.date(2016, 1 ,10), dt.date(1994,6,13), dt.date(2003,12,29)]

In [37]:
dtIndex = pd.DatetimeIndex(dates)

In [34]:
values =[100, 200, 300]

In [38]:
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

### The pd. to_datetime() Method

In [39]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [41]:
pd.to_datetime(["2015-03-03", "2024/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-03-03', '2024-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [43]:
times = pd.Series(["2015-03-03", "2024/02/08", "2016", "July 4th, 1996"])

In [45]:
pd.to_datetime(times)

0   2015-03-03
1   2024-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

### Create Range of Dates with the pd.data_range() Method

In [48]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = 'D')

In [49]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [59]:
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = '1D')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15'],
              dtype='datetime64[ns]', freq='D')

In [66]:
pd.date_range(start = "2012-09-09", periods = 50 , freq = "W-SAT")

DatetimeIndex(['2012-09-15', '2012-09-22', '2012-09-29', '2012-10-06',
               '2012-10-13', '2012-10-20', '2012-10-27', '2012-11-03',
               '2012-11-10', '2012-11-17', '2012-11-24', '2012-12-01',
               '2012-12-08', '2012-12-15', '2012-12-22', '2012-12-29',
               '2013-01-05', '2013-01-12', '2013-01-19', '2013-01-26',
               '2013-02-02', '2013-02-09', '2013-02-16', '2013-02-23',
               '2013-03-02', '2013-03-09', '2013-03-16', '2013-03-23',
               '2013-03-30', '2013-04-06', '2013-04-13', '2013-04-20',
               '2013-04-27', '2013-05-04', '2013-05-11', '2013-05-18',
               '2013-05-25', '2013-06-01', '2013-06-08', '2013-06-15',
               '2013-06-22', '2013-06-29', '2013-07-06', '2013-07-13',
               '2013-07-20', '2013-07-27', '2013-08-03', '2013-08-10',
               '2013-08-17', '2013-08-24'],
              dtype='datetime64[ns]', freq='W-SAT')

In [69]:
pd.date_range(end = "1999-12-31", periods = 20, freq ="Q")

DatetimeIndex(['1995-03-31', '1995-06-30', '1995-09-30', '1995-12-31',
               '1996-03-31', '1996-06-30', '1996-09-30', '1996-12-31',
               '1997-03-31', '1997-06-30', '1997-09-30', '1997-12-31',
               '1998-03-31', '1998-06-30', '1998-09-30', '1998-12-31',
               '1999-03-31', '1999-06-30', '1999-09-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

### The .dt Accessor

In [80]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end ="2010-12-31", freq = "24D")

In [82]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [83]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
5      30
6      24
7      17
8      11
9       4
10     28
11     21
12     15
13      8
14      2
15     26
16     19
17     12
18      8
19      1
20     25
21     19
22     12
23      6
24     30
25     23
26     16
27     10
28      3
29     27
       ..
138    25
139    18
140    14
141     7
142     1
143    25
144    18
145    12
146     5
147    29
148    22
149    16
150     9
151     3
152    27
153    20
154    13
155     9
156     2
157    26
158    20
159    13
160     7
161    31
162    24
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [86]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

### Import Financial Data Set with pandas_datareader Library

In [5]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [9]:
company ="MSFT"
start ="2010-01-01"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source = "yahoo",
                start = start, end = end) 
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.720928
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.728914
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.577150

In [11]:
stocks.values

array([[3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.47209282e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.47289143e+01],
       [3.10799999e+01, 3.05200005e+01, 3.08799992e+01, 3.07700005e+01,
        5.81824000e+07, 2.45771503e+01],
       ...,
       [8.59800034e+01, 8.52200012e+01, 8.56500015e+01, 8.57099991e+01,
        1.46780000e+07, 8.42514954e+01],
       [8.59300003e+01, 8.55500031e+01, 8.59000015e+01, 8.57200012e+01,
        1.05943000e+07, 8.42613297e+01],
       [8.60500031e+01, 8.55000000e+01, 8.56299973e+01, 8.55400009e+01,
        1.87174000e+07, 8.40843887e+01]])

In [12]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [13]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

In [14]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=2013, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

### Selecting from a DataFrame with a DateTimeIndex

In [15]:
stocks.loc["2014-03-04"]

High         3.848000e+01
Low          3.807000e+01
Open         3.820000e+01
Close        3.841000e+01
Volume       2.680240e+07
Adj Close    3.431552e+01
Name: 2014-03-04 00:00:00, dtype: float64

In [16]:
stocks.iloc[300]

High         2.576000e+01
Low          2.535000e+01
Open         2.549000e+01
Close        2.569000e+01
Volume       5.447340e+07
Adj Close    2.107075e+01
Name: 2011-03-14 00:00:00, dtype: float64

In [17]:
stocks.ix[300]

/Users/nawaz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

High         2.576000e+01
Low          2.535000e+01
Open         2.549000e+01
Close        2.569000e+01
Volume       5.447340e+07
Adj Close    2.107075e+01
Name: 2011-03-14 00:00:00, dtype: float64

In [20]:
stocks.loc["2013-10-01": "2013-10-07"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  29.552982
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.852201
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  29.799406
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.816998
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  29.306562

In [24]:
birthdays = pd.date_range(start = "1993-08-26", end ="2017-12-31", 
              freq = pd.DateOffset(years=1))

In [27]:
mask = stocks.index.isin(birthdays)

In [28]:
stocks.loc[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-08-26  24.190001  23.790001  24.090000  23.820000  49105300.0  19.303576
2011-08-26  25.340000  24.420000  24.510000  25.250000  71957000.0  20.977173
2013-08-26  34.669998  34.029999  34.400002  34.150002  72786800.0  30.054623
2014-08-26  45.400002  44.939999  45.310001  45.009998  14873100.0  40.748581
2015-08-26  42.840000  41.060001  42.009998  42.709999  63408000.0  39.701889
2016-08-26  58.700001  57.689999  58.279999  58.029999  20971200.0  55.422245

### Timestamp Object Attributes

In [31]:
someday = stocks.index[500]

In [32]:
someday.day

27

In [37]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name)

ValueError: cannot insert Day of Week, already exists

In [35]:
stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.720928
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.728914
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,24.577150
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,24.321552
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,24.489288
2010-01-11,Monday,30.760000,30.120001,30.709999,30.270000,68754700.0,24.177786
2010-01-12,Tuesday,30.400000,29.910000,30.150000,30.070000,65912100.0,24.018032
2010-01-13,Wednesday,30.520000,30.010000,30.260000,30.350000,51863500.0,24.241684
2010-01-14,Thursday,31.100000,30.260000,30.309999,30.959999,63228100.0,24.728914
2010-01-15,Friday,31.240000,30.709999,31.080000,30.860001,79913200.0,24.649038
2010-01-19,Tuesday,31.240000,30.680000,30.750000,31.100000,46575700.0,24.840738
2010-01-20,Wednesday,30.940001,30.309999,30.809999,30.590000,54849500.0,24.433378
2010-01-21,Thursday,30.719999,30.000000,30.610001,30.010000,73086700.0,23.970112
2010-01-22,Friday,30.200001,28.840000,30.000000,28.959999,102004600.0,23.131437
2010-01-25,Monday,29.660000,29.100000,29.240000,29.320000,63373000.0,23.418983
2010-01-26,Tuesday,29.850000,29.090000,29.200001,29.500000,66639900.0,23.562756
2010-01-27,Wednesday,29.820000,29.020000,29.350000,29.670000,63949500.0,23.698549
2010-01-28,Thursday,29.870001,28.889999,29.840000,29.160000,117513700.0,23.291180
2010-01-29,Friday,29.920000,27.660000,29.900000,28.180000,193888500.0,22.508421
2010-02-01,Monday,28.480000,27.920000,28.389999,28.410000,85931100.0,22.692129
2010-02-02,Tuesday,28.500000,28.139999,28.370001,28.459999,54413700.0,22.732069
2010-02-03,Wednesday,28.790001,28.120001,28.260000,28.629999,61397900.0,22.867855
2010-02-04,Thursday,28.500000,27.809999,28.379999,27.840000,77850000.0,22.236853
2010-02-05,Friday,28.280001,27.570000,28.000000,28.020000,80960100.0,22.380629
2010-02-08,Monday,28.080000,27.570000,28.010000,27.719999,52820600.0,22.141001
2010-02-09,Tuesday,28.340000,27.750000,27.969999,28.010000,59195800.0,22.372641
2010-02-10,Wednesday,28.240000,27.840000,28.030001,27.990000,48591300.0,22.356657
2010-02-11,Thursday,28.400000,27.700001,27.930000,28.120001,65993700.0,22.460506
2010-02-12,Friday,28.059999,27.580000,27.809999,27.930000,81117200.0,22.308741
2010-02-16,Tuesday,28.370001,28.020000,28.129999,28.350000,51935600.0,22.750099
...,...,...,...,...,...,...,...
2017-11-16,Thursday,83.419998,82.940002,83.099998,83.199997,20962800.0,81.784210
2017-11-17,Friday,83.120003,82.239998,83.120003,82.400002,22079000.0,80.997826
2017-11-20,Monday,82.589996,82.250000,82.400002,82.529999,16315000.0,81.125610
2017-11-21,Tuesday,83.839996,82.739998,82.739998,83.720001,21237500.0,82.295364
2017-11-22,Wednesday,83.900002,83.040001,83.830002,83.110001,20553100.0,81.695747
2017-11-24,Friday,83.430000,82.779999,83.010002,83.260002,7425600.0,81.843193
2017-11-27,Monday,83.980003,83.300003,83.309998,83.870003,18265200.0,82.442818
2017-11-28,Tuesday,85.059998,84.019997,84.070000,84.879997,21926000.0,83.435616
2017-11-29,Wednesday,84.919998,83.180000,84.709999,83.339996,27381100.0,81.921829
2017-11-30,Thursday,84.519997,83.339996,83.510002,84.169998,33054600.0,82.737709
2017-12-01,Friday,84.809998,83.220001,83.599998,84.260002,29532100.0,82.826172
2017-12-04,Monday,84.430000,80.699997,84.419998,81.080002,39094900.0,79.700279
2017-12-05,Tuesday,82.680000,80.980003,81.339996,81.589996,26152300.0,80.201599
2017-12-06,Wednesday,83.139999,81.430000,81.550003,82.779999,26162100.0,81.371353
2017-12-07,Thursday,82.800003,82.000000,82.540001,82.489998,23184500.0,81.086288
2017-12-08,Friday,84.580002,83.330002,83.629997,84.160004,24489100.0,82.727882
2017-12-11,Monday,85.370003,84.120003,84.290001,85.230003,22857900.0,83.779671
2017-12-12,Tuesday,86.050003,85.080002,85.309998,85.580002,23924100.0,84.123711
2017-12-13,Wednesday,86.000000,85.169998,85.739998,85.349998,22062700.0,83.897629
2017-12-14,Thursday,85.870003,84.529999,85.430000,84.690002,19306000.0,83.248863
2017-12-15,Friday,87.089996,84.879997,85.260002,86.849998,53936700.0,85.372101
2017-12-18,Monday,87.500000,86.230003,87.120003,86.379997,22283800.0,84.910088
2017-12-19,Tuesday,86.349998,85.269997,86.349998,85.830002,23524800.0,84.369461
2017-12-20,Wednesday,86.300003,84.709999,86.199997,85.519997,23674900.0,84.064720
2017-12-21,Thursday,86.099998,85.400002,86.050003,85.500000,17990700.0,84.045067
2017-12-22,Friday,85.629997,84.919998,85.400002,85.510002,14145800.0,84.054901
2017-12-26,Tuesday,85.529999,85.029999,85.309998,85.400002,9891200.0,83.946770
2017-12-27,Wednesday,85.980003,85.220001,85.650002,85.709999,14678000.0,84.251495
2017-12-28,Thursday,85.930000,85.550003,85.900002,85.720001,10594300.0,84.261330
2017-12-29,Friday,86.050003,85.500000,85.629997,85.540001,18717400.0,84.084389

In [38]:
stocks.insert(3,"Is Start of Month", stocks.index.is_month_start )

In [39]:
stocks

,Day of Week,High,Low,Is Start of Month,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,31.100000,30.590000,False,30.620001,30.950001,38409100.0,24.720928
2010-01-05,Tuesday,31.100000,30.639999,False,30.850000,30.959999,49749600.0,24.728914
2010-01-06,Wednesday,31.080000,30.520000,False,30.879999,30.770000,58182400.0,24.577150
2010-01-07,Thursday,30.700001,30.190001,False,30.629999,30.450001,50559700.0,24.321552
2010-01-08,Friday,30.879999,30.240000,False,30.280001,30.660000,51197400.0,24.489288
2010-01-11,Monday,30.760000,30.120001,False,30.709999,30.270000,68754700.0,24.177786
2010-01-12,Tuesday,30.400000,29.910000,False,30.150000,30.070000,65912100.0,24.018032
2010-01-13,Wednesday,30.520000,30.010000,False,30.260000,30.350000,51863500.0,24.241684
2010-01-14,Thursday,31.100000,30.260000,False,30.309999,30.959999,63228100.0,24.728914
2010-01-15,Friday,31.240000,30.709999,False,31.080000,30.860001,79913200.0,24.649038
2010-01-19,Tuesday,31.240000,30.680000,False,30.750000,31.100000,46575700.0,24.840738
2010-01-20,Wednesday,30.940001,30.309999,False,30.809999,30.590000,54849500.0,24.433378
2010-01-21,Thursday,30.719999,30.000000,False,30.610001,30.010000,73086700.0,23.970112
2010-01-22,Friday,30.200001,28.840000,False,30.000000,28.959999,102004600.0,23.131437
2010-01-25,Monday,29.660000,29.100000,False,29.240000,29.320000,63373000.0,23.418983
2010-01-26,Tuesday,29.850000,29.090000,False,29.200001,29.500000,66639900.0,23.562756
2010-01-27,Wednesday,29.820000,29.020000,False,29.350000,29.670000,63949500.0,23.698549
2010-01-28,Thursday,29.870001,28.889999,False,29.840000,29.160000,117513700.0,23.291180
2010-01-29,Friday,29.920000,27.660000,False,29.900000,28.180000,193888500.0,22.508421
2010-02-01,Monday,28.480000,27.920000,True,28.389999,28.410000,85931100.0,22.692129
2010-02-02,Tuesday,28.500000,28.139999,False,28.370001,28.459999,54413700.0,22.732069
2010-02-03,Wednesday,28.790001,28.120001,False,28.260000,28.629999,61397900.0,22.867855
2010-02-04,Thursday,28.500000,27.809999,False,28.379999,27.840000,77850000.0,22.236853
2010-02-05,Friday,28.280001,27.570000,False,28.000000,28.020000,80960100.0,22.380629
2010-02-08,Monday,28.080000,27.570000,False,28.010000,27.719999,52820600.0,22.141001
2010-02-09,Tuesday,28.340000,27.750000,False,27.969999,28.010000,59195800.0,22.372641
2010-02-10,Wednesday,28.240000,27.840000,False,28.030001,27.990000,48591300.0,22.356657
2010-02-11,Thursday,28.400000,27.700001,False,27.930000,28.120001,65993700.0,22.460506
2010-02-12,Friday,28.059999,27.580000,False,27.809999,27.930000,81117200.0,22.308741
2010-02-16,Tuesday,28.370001,28.020000,False,28.129999,28.350000,51935600.0,22.750099
...,...,...,...,...,...,...,...,...
2017-11-16,Thursday,83.419998,82.940002,False,83.099998,83.199997,20962800.0,81.784210
2017-11-17,Friday,83.120003,82.239998,False,83.120003,82.400002,22079000.0,80.997826
2017-11-20,Monday,82.589996,82.250000,False,82.400002,82.529999,16315000.0,81.125610
2017-11-21,Tuesday,83.839996,82.739998,False,82.739998,83.720001,21237500.0,82.295364
2017-11-22,Wednesday,83.900002,83.040001,False,83.830002,83.110001,20553100.0,81.695747
2017-11-24,Friday,83.430000,82.779999,False,83.010002,83.260002,7425600.0,81.843193
2017-11-27,Monday,83.980003,83.300003,False,83.309998,83.870003,18265200.0,82.442818
2017-11-28,Tuesday,85.059998,84.019997,False,84.070000,84.879997,21926000.0,83.435616
2017-11-29,Wednesday,84.919998,83.180000,False,84.709999,83.339996,27381100.0,81.921829
2017-11-30,Thursday,84.519997,83.339996,False,83.510002,84.169998,33054600.0,82.737709
2017-12-01,Friday,84.809998,83.220001,True,83.599998,84.260002,29532100.0,82.826172
2017-12-04,Monday,84.430000,80.699997,False,84.419998,81.080002,39094900.0,79.700279
2017-12-05,Tuesday,82.680000,80.980003,False,81.339996,81.589996,26152300.0,80.201599
2017-12-06,Wednesday,83.139999,81.430000,False,81.550003,82.779999,26162100.0,81.371353
2017-12-07,Thursday,82.800003,82.000000,False,82.540001,82.489998,23184500.0,81.086288
2017-12-08,Friday,84.580002,83.330002,False,83.629997,84.160004,24489100.0,82.727882
2017-12-11,Monday,85.370003,84.120003,False,84.290001,85.230003,22857900.0,83.779671
2017-12-12,Tuesday,86.050003,85.080002,False,85.309998,85.580002,23924100.0,84.123711
2017-12-13,Wednesday,86.000000,85.169998,False,85.739998,85.349998,22062700.0,83.897629
2017-12-14,Thursday,85.870003,84.529999,False,85.430000,84.690002,19306000.0,83.248863
2017-12-15,Friday,87.089996,84.879997,False,85.260002,86.849998,53936700.0,85.372101
2017-12-18,Monday,87.500000,86.230003,False,87.120003,86.379997,22283800.0,84.910088
2017-12-19,Tuesday,86.349998,85.269997,False,86.349998,85.830002,23524800.0,84.369461
2017-12-20,Wednesday,86.300003,84.709999,False,86.199997,85.519997,23674900.0,84.064720
2017-12-21,Thursday,86.099998,85.400002,False,86.050003,85.500000,17990700.0,84.045067
2017-12-22,Friday,85.629997,84.919998,False,85.400002,85.510002,14145800.0,84.054901
2017-12-26,Tuesday,85.529999,85.029999,False,85.309998,85.400002,9891200.0,83.946770
2017-12-27,Wednesday,85.980003,85.220001,False,85.650002,85.709999,14678000.0,84.251495
2017-12-28,Thursday,85.930000,85.550003,False,85.900002,85.720001,10594300.0,84.261330
2017-12-29,Friday,86.050003,85.500000,False,85.629997,85.540001,18717400.0,84.084389

In [41]:
stocks[stocks["Is Start of Month"]]

,Day of Week,High,Low,Is Start of Month,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,28.480000,27.920000,True,28.389999,28.410000,85931100.0,22.692129
2010-03-01,Monday,29.049999,28.530001,True,28.770000,29.020000,43805400.0,23.287754
2010-04-01,Thursday,29.540001,28.620001,True,29.350000,29.160000,74768100.0,23.400095
2010-06-01,Tuesday,26.309999,25.520000,True,25.530001,25.889999,76152400.0,20.869761
2010-07-01,Thursday,23.320000,22.730000,True,23.090000,23.160000,92239400.0,18.669130
2010-09-01,Wednesday,23.950001,23.540001,True,23.670000,23.900000,65235900.0,19.368408
2010-10-01,Friday,24.820000,24.299999,True,24.770000,24.379999,62672300.0,19.757391
2010-11-01,Monday,27.219999,26.700001,True,26.879999,26.950001,61912100.0,21.840105
2010-12-01,Wednesday,26.250000,25.559999,True,25.570000,26.040001,74123500.0,21.232306
2011-02-01,Tuesday,28.059999,27.610001,True,27.799999,27.990000,62810700.0,22.822296
2011-03-01,Tuesday,26.780001,26.150000,True,26.600000,26.160000,60055000.0,21.456236
2011-04-01,Friday,25.530001,25.309999,True,25.530001,25.480000,63114200.0,20.898499
2011-06-01,Wednesday,25.100000,24.370001,True,24.990000,24.430000,74033500.0,20.168638
2011-07-01,Friday,26.170000,25.840000,True,25.930000,26.020000,52906200.0,21.481289
2011-08-01,Monday,27.690001,26.750000,True,27.510000,27.270000,61838400.0,22.513250
2011-09-01,Thursday,26.860001,26.209999,True,26.459999,26.209999,60510800.0,21.774723
2011-11-01,Tuesday,26.320000,25.860001,True,26.190001,25.990000,61182600.0,21.591948
2011-12-01,Thursday,25.629999,25.200001,True,25.559999,25.280001,48545400.0,21.160242
2012-02-01,Wednesday,30.049999,29.760000,True,29.790001,29.889999,67409900.0,25.018976
2012-03-01,Thursday,32.389999,31.850000,True,31.930000,32.290001,77344100.0,27.205793
2012-05-01,Tuesday,32.340000,31.950001,True,32.049999,32.009998,43832300.0,26.969879
2012-06-01,Friday,28.959999,28.440001,True,28.760000,28.450001,56634300.0,24.127708
2012-08-01,Wednesday,29.650000,29.209999,True,29.590000,29.410000,31721800.0,24.941854
2012-10-01,Monday,29.980000,29.420000,True,29.809999,29.490000,54042700.0,25.175381
2012-11-01,Thursday,29.559999,28.820000,True,28.840000,29.520000,72047900.0,25.200994
2013-02-01,Friday,28.049999,27.549999,True,27.670000,27.930000,55565900.0,24.039555
2013-03-01,Friday,27.980000,27.520000,True,27.719999,27.950001,34849700.0,24.255941
2013-04-01,Monday,28.660000,28.360001,True,28.639999,28.610001,29201100.0,24.828709
2013-05-01,Wednesday,33.080002,32.599998,True,32.930000,32.720001,54330900.0,28.395504
2013-07-01,Monday,34.990002,34.330002,True,34.750000,34.360001,31055400.0,30.027849
...,...,...,...,...,...,...,...,...
2014-04-01,Tuesday,41.590000,41.070000,True,41.150002,41.419998,32605000.0,37.004662
2014-05-01,Thursday,40.360001,39.950001,True,40.240002,40.000000,28787400.0,35.736023
2014-07-01,Tuesday,42.150002,41.689999,True,41.860001,41.869999,26917000.0,37.670586
2014-08-01,Friday,43.250000,42.599998,True,43.209999,42.860001,31170300.0,38.561287
2014-10-01,Wednesday,46.529999,45.849998,True,46.270000,45.900002,38088400.0,41.554317
2014-12-01,Monday,48.779999,47.709999,True,47.880001,48.619999,31191600.0,44.294411
2015-04-01,Wednesday,40.759998,40.310001,True,40.599998,40.720001,36752000.0,37.361267
2015-05-01,Friday,48.880001,48.400002,True,48.580002,48.660000,38937300.0,44.646336
2015-06-01,Monday,47.770000,46.619999,True,47.060001,47.230000,28837300.0,43.615913
2015-07-01,Wednesday,45.230000,44.099998,True,44.459999,44.450001,28343900.0,41.048645
2015-09-01,Tuesday,42.590000,41.660000,True,42.169998,41.820000,49688900.0,38.874573
2015-10-01,Thursday,44.750000,43.750000,True,44.750000,44.610001,28657900.0,41.468067
2015-12-01,Tuesday,55.230000,54.299999,True,54.410000,55.220001,39952800.0,51.676788
2016-02-01,Monday,55.090000,54.500000,True,54.880001,54.709999,44208500.0,51.199497
2016-03-01,Tuesday,52.590000,50.919998,True,50.970001,52.580002,33024500.0,49.559475
2016-04-01,Friday,55.610001,54.570000,True,55.049999,55.570000,24399200.0,52.377712
2016-06-01,Wednesday,52.950001,52.439999,True,52.439999,52.849998,25324800.0,50.162380
2016-07-01,Friday,51.720001,51.070000,True,51.130001,51.160000,21400400.0,48.558327
2016-08-01,Monday,56.750000,56.139999,True,56.599998,56.580002,26003400.0,53.702694
2016-09-01,Thursday,57.820000,57.009998,True,57.009998,57.590000,26075400.0,55.002018
2016-11-01,Tuesday,60.020000,59.250000,True,59.970001,59.799999,24533000.0,57.112709
2016-12-01,Thursday,60.150002,58.939999,True,60.110001,59.200001,34542100.0,56.921623
2017-02-01,Wednesday,64.620003,63.470001,True,64.360001,63.580002,39671500.0,61.133057
2017-03-01,Wednesday,64.989998,64.019997,True,64.129997,64.940002,26937500.0,62.819267
2017-05-01,Monday,69.550003,68.500000,True,68.680000,69.410004,31954400.0,67.143295
2017-06-01,Thursday,70.610001,69.449997,True,70.239998,70.099998,21603600.0,68.199440
2017-08-01,Tuesday,73.419998,72.489998,True,73.099998,72.580002,22132300.0,70.612221
2017-09-01,Friday,74.739998,73.639999,True,74.709999,73.940002,21736200.0,72.318604
2017-11-01,Wednesday,83.760002,82.879997,True,83.680000,83.180000,22307400.0,81.355980
2017-12-01,Friday,84.809998,83.220001,True,83.599998,84.260002,29532100.0,82.826172

### The .truncate Method

In [43]:
stocks.truncate(before = "2011-02-05", after = "2011-02-28")

,Day of Week,High,Low,Is Start of Month,Open,Close,Volume,Adj Close
Date,,,,,,,,
2011-02-07,Monday,28.340000,27.790001,False,27.799999,28.200001,68980900.0,22.993515
2011-02-08,Tuesday,28.340000,28.049999,False,28.100000,28.280001,34904200.0,23.058744
2011-02-09,Wednesday,28.260000,27.910000,False,28.190001,27.969999,52905100.0,22.805983
2011-02-10,Thursday,27.940001,27.290001,False,27.930000,27.500000,76672400.0,22.422758
2011-02-11,Friday,27.809999,27.070000,False,27.760000,27.250000,83939700.0,22.218910
2011-02-14,Monday,27.270000,26.950001,False,27.209999,27.230000,56766200.0,22.202610
2011-02-15,Tuesday,27.330000,26.950001,False,27.040001,26.959999,44116500.0,22.112381
2011-02-16,Wednesday,27.070000,26.600000,False,27.049999,27.020000,70817900.0,22.161594
2011-02-17,Thursday,27.370001,26.910000,False,26.969999,27.209999,57207300.0,22.317432
2011-02-18,Friday,27.209999,26.990000,False,27.129999,27.059999,68667800.0,22.194401
2011-02-22,Tuesday,27.100000,26.520000,False,26.780001,26.590000,60889000.0,21.808912
2011-02-23,Wednesday,26.860001,26.430000,False,26.530001,26.590000,60234100.0,21.808912
2011-02-24,Thursday,27.059999,26.500000,False,26.639999,26.770000,64494200.0,21.956551
2011-02-25,Friday,26.950001,26.500000,False,26.910000,26.549999,53006300.0,21.776106
2011-02-28,Monday,26.860001,26.510000,False,26.690001,26.580000,51379900.0,21.800714

### pd.DateOffset Objects

In [46]:
stocks = data.DataReader(name ="GOOG", data_source ="yahoo",
               start = dt.date(2000,1,1), end = dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527

In [48]:
stocks.index + pd.DateOffset(weeks = 2)
#adding 2 weeks to every day

DatetimeIndex(['2004-09-02', '2004-09-03', '2004-09-06', '2004-09-07',
               '2004-09-08', '2004-09-09', '2004-09-10', '2004-09-13',
               '2004-09-14', '2004-09-15',
               ...
               '2018-12-28', '2018-12-31', '2019-01-01', '2019-01-02',
               '2019-01-03', '2019-01-04', '2019-01-07', '2019-01-09',
               '2019-01-10', '2019-01-11'],
              dtype='datetime64[ns]', name='Date', length=3616, freq=None)

In [52]:
stocks.index[0] + pd.DateOffset(hours = 6)

Timestamp('2004-08-19 06:00:00')

In [53]:
stocks.index - pd.DateOffset(years =1, months =3, days = 10)

DatetimeIndex(['2003-05-09', '2003-05-10', '2003-05-13', '2003-05-14',
               '2003-05-15', '2003-05-16', '2003-05-17', '2003-05-20',
               '2003-05-21', '2003-05-22',
               ...
               '2017-09-04', '2017-09-07', '2017-09-08', '2017-09-09',
               '2017-09-10', '2017-09-11', '2017-09-14', '2017-09-16',
               '2017-09-17', '2017-09-18'],
              dtype='datetime64[ns]', name='Date', length=3616, freq=None)

### More about pd.DateOffset Objects

In [56]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [54]:


stocks = data.DataReader(name = "GOOG", data_source = "yahoo",
                start = dt.date(2000,1,1), end = dt.datetime.now()) 
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527

In [57]:
stocks.index + MonthEnd()
#finds the month end of each month

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31'],
              dtype='datetime64[ns]', name='Date', length=3616, freq=None)

In [59]:
stocks.index +BMonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31'],
              dtype='datetime64[ns]', name='Date', length=3616, freq=None)

In [60]:
    stocks.index +QuarterEnd()

DatetimeIndex(['2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30',
               ...
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31'],
              dtype='datetime64[ns]', name='Date', length=3616, freq=None)

### The Timedelta Object

In [62]:
timeA = pd.Timestamp("2016-03-31")
timeB = pd.Timestamp("2016-03-20")

In [63]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [64]:
timeB - timeA

Timedelta('-11 days +00:00:00')

In [66]:
x = pd.Timedelta(days = 3)

In [67]:
timeB-x

Timestamp('2016-03-17 00:00:00')

### Timedeltas in a Dataset

In [73]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])

In [74]:
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [76]:
shipping ["Delivery Time"] = shipping["delivery_date"]- shipping["order_date"]

In [77]:
shipping

    order_date delivery_date Delivery Time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
8   1993-06-10    1993-11-11      154 days
9   1990-01-25    1994-10-02     1711 days
10  1992-02-23    1998-12-30     2502 days
11  1996-07-12    1997-07-14      367 days
18  1995-06-18    1997-10-13      848 days
19  1998-05-10    1998-05-19        9 days
20  1992-10-17    1998-10-06     2180 days
23  1992-05-30    1999-08-15     2633 days
26  1996-04-11    1998-05-04      753 days
30  1998-10-22    1999-01-11       81 days
32  1990-01-20    1998-07-24     3107 days
33  1994-09-21    1996-10-12      752 days
35  1993-09-10    1996-04-28      961 days
36  1990-05-15    1994-02-14     1371 days
39  1990-03-26    1993-01-25     1036 days
41  1992-02-06    1996-05-10     1555 days
46  1995-09-05    1996-07-19      318 days
50  1991-05-03    1999-07-17     2997 days
52  1994-09-02    1997-05-14      985 days
53  1995-11-29    1998-06-23      937 days
54  1996-08-07    1998-04-04      605 days
58  1995-02-11    1995-04-16       64 days
59  1995-09-29    1995-12-16       78 days
60  1993-02-14    1995-08-06      903 days
63  1990-12-22    1995-09-02     1715 days
..         ...           ...           ...
932 1997-07-25    1998-04-09      258 days
934 1995-05-22    1995-07-11       50 days
935 1990-09-26    1998-03-07     2719 days
938 1993-03-24    1995-07-15      843 days
939 1998-10-01    1998-12-07       67 days
942 1992-04-14    1997-03-03     1784 days
943 1991-01-30    1999-12-02     3228 days
945 1992-10-27    1994-11-03      737 days
946 1991-07-02    1996-02-23     1697 days
947 1991-06-18    1999-06-11     2915 days
949 1991-10-07    1992-01-07       92 days
951 1991-10-02    1994-04-18      929 days
953 1991-09-26    1994-05-08      955 days
954 1993-08-08    1994-01-23      168 days
956 1995-08-23    1999-01-10     1236 days
957 1994-10-01    1999-07-25     1758 days
958 1990-04-26    1997-06-29     2621 days
969 1996-09-24    1996-11-16       53 days
972 1990-02-07    1995-11-05     2097 days
975 1997-06-18    1997-11-02      137 days
981 1997-01-31    1998-03-04      397 days
983 1994-12-30    1997-07-29      942 days
984 1991-07-25    1999-02-09     2756 days
985 1995-07-26    1996-06-18      328 days
986 1990-12-10    1992-12-16      737 days
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

In [78]:
shipping["delivery_date"] + shipping["Delivery Time"]

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
8     1994-04-14
9     1999-06-09
10    2005-11-05
11    1998-07-16
18    2000-02-08
19    1998-05-28
20    2004-09-24
23    2006-10-30
26    2000-05-26
30    1999-04-02
32    2007-01-25
33    1998-11-03
35    1998-12-15
36    1997-11-16
39    1995-11-27
41    2000-08-12
46    1997-06-02
50    2007-09-30
52    2000-01-24
53    2001-01-15
54    1999-11-30
58    1995-06-19
59    1996-03-03
60    1998-01-25
63    2000-05-13
         ...
932   1998-12-23
934   1995-08-30
935   2005-08-16
938   1997-11-04
939   1999-02-12
942   2002-01-20
943   2008-10-03
945   1996-11-09
946   2000-10-16
947   2007-06-04
949   1992-04-08
951   1996-11-02
953   1996-12-18
954   1994-07-10
956   2002-05-30
957   2004-05-17
958   2004-09-01
969   1997-01-08
972   2001-08-02
975   1998-03-19
981   1999-04-05
983   2000-02-26
984   2006-08-27
985   1997-05-12
986   1994-12-23
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [79]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')